html {
    background-color:azure;
}

#palavra {
    color: red;
}

#titulo {
    text-align: center;
    font-size: 20px;
    border: solid 5px ;
    border-radius: 10px;
}

#imagem1 {
    position: absolute;
    top: 10%;
    left: 2%;
}

#paragrafo1 {
    position: absolute;
    left: 30.5%;
    top: 8%;
}

#links {
    position: absolute;
    left: 30.6%;
    top: 18%;
}

