html {
    background-color:azure;
}    

#palavra {
    color: red;
}

#titulo {
    text-align: center;
    font-size: 20px;
    border: solid 5px ;
    border-radius: 10px;
}

#paragrafo1 {
    position: absolute;
    left: 30%;
    top: 7%;
}

#imagem1 {
    position: absolute;
    top: 9%;
    left: 2%;
}

#links {
    position: absolute;
    top:2%;
    left: 4.5%;
}

#links1 {
    position: absolute;
    top:2%;
    right: 1.5%;
}

#links2 {
    position: absolute;
    top:2%;
    left: 13% ;
}

#links3 {
    position: absolute;
    top:2%;
    left: 26%;
}

#links4 {
    position: absolute;
    top:2%;
    right: 33% ;
}

#links5 {
    position: absolute;
    top:2%;
    right: 23.5%;
}

#links6 {
    position: absolute;
    top:2%;
    right: 10%;
}