html {
    background-color:azure;
    overflow: hidden;
}    

#palavra {
    color: red;
}

#titulo {
    text-align: center;
    font-size: 20px;
    border: solid 5px ;
    border-radius: 10px;
}

#paragrafo1 {
    position: absolute;
    left: 440px;
    bottom: 463px;
}

#imagem1 {
    position: relative;
    top: 20px;
    left: 20px;
}

#linkhome {
    position: absolute;
    bottom: 705px;
    left: 65px;
}

#links {
    position: absolute;
    bottom: 705px;
    left: 1287px;
}

#links1 {
    position: absolute;
    bottom: 705px;
    left: 130px;
}

#links2 {
    position: absolute;
    bottom: 705px;
    left: 330px ;
}

#links3 {
    position: absolute;
    bottom: 705px;
    left: 520px ;
}

#links4 {
    position: absolute;
    bottom: 705px;
    left: 830px ;
}

#links5 {
    position: absolute;
    bottom: 705px;
    left: 1040px;
}

